Backup/*
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport_Files/*
Build/*
Debug
Release
bin
Bin
obj
*.pdb
*.obj
*.suo
*.vs10x
*.csproj.user
*.vbproj.user
*.dtproj.user
*.vspscc
*.sln
*.exe
!Concentrator.Testing/Concentrator.Testing.FtpServer/ftpdmin.exe
Thumbs.db
ImageCache
log.txt
log.txt.*
*.Publish.xml
*Test-Results.xml
!Shared/NUnit/bin
Test/*.dll
Test/*.xml
Test/Plugin/*.*
Test/Plugin
Plugins/Test/Plugin/*.*
Concentrator.WebToPrint/Concentrator.Web.WebToPrintServices/plugins/*.*
*.lst
MiddleWare/WMS.Middleware.Consolehost/Plugins/*.*
_ReSharper.*/
*resharper.user
_ReSharper*
*.resharper.user
release/*
*.orig
Shared/*.Objects.*
Shared/*.Objects.EDI.*
Concentrator.WebToPrint/Concentrator.Web.WebToPrintServices/Designer/Output/*.*
*.generic.config
*.edmx.diagram
*.user
*.DotSettings.User
TestResults
packages
Concentrator.Core/Concentrator.Objects/DataAccess/EntityFramework/ConcentratorDataModel.Views.cs
*.pubxml
!Concentrator.Testing/Concentrator.Plugins.EDI.VTech.Test/appsettings.generic.config
!Concentrator.Testing/Concentrator.Plugins.EDI.VTech.Test/environment.generic.config
*.datasource