Backup/*UpgradeLog.htmUpgradeLog.XML_UpgradeReport_Files/*Build/*DebugReleasebinBinobj*.pdb*.obj*.suo*.vs10x*.csproj.user*.vbproj.user*.dtproj.user*.vspscc*.sln*.exeThumbs.dbImageCachelog.txtlog.txt.**.Publish.xml*Test-Results.xml*.lst_ReSharper.*/*resharper.user_ReSharper**.resharper.userrelease/**.orig*.generic.config*.edmx.diagram*.user*.DotSettings.UserTestResultspackages*.pubxml*.datasource